<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/main/bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/main/bootstrap/css/bootstrap-theme.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('img/shmi-favicon.ico') }}" />
    </head>
    <body>
        <div class="wrap">
            <div class='container'>
                {% block body %}{% endblock %}
            </div>
        </div>

        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/main/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/custom.js') }}"></script>
    </body>
</html>