<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/main/bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/main/bootstrap/css/bootstrap-theme.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('img/shmi-favicon.ico') }}" />
    </head>
    <body>
        <div class="wrap">
            <div class='container'>      
                <div class="header">
                    <img class="logo" src="{{ asset('img/shmi-logo.png') }}" />
                    <h1>Zeiterfassung</h1>
                    
                    {% if data is defined %}
                        {% if data.register is defined and data.register == true %}
                            <a class="toplink login" href="{{ data.uri }}/login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Login</a>
                        {% elseif data.login is defined and data.login == true %}
                            <a class="toplink register" href="{{ data.uri }}/register"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Registrieren</a>
                        {% else %}
                            <a class="toplink logout" href="{{ data.uri }}/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Logout</a>
                        {% endif %}
                        {% if (data.isAdmin is defined and data.isAdmin == true ) %}
                            <a class="toplink newemployee" href="{{ data.uri }}/new-employee"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Neuer Angestellter</a>
                            <a class="toplink newproject" href="{{ data.uri }}/new-project"><span class="glyphicon glyphicon-th" aria-hidden="true"></span>Neues Projekt</a>
                        {% endif %}
                    {% endif %}
                </div>           
                {% block body %}{% endblock %}
            </div>
        </div>

        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/main/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/custom.js') }}"></script>
    </body>
</html>