{% extends "MainBundle::base.html.twig" %}

{% block title %}Zeiterfassung{% endblock %}

{% block body %}
    <div class="content">
        <h2>Registrieren</h2>
        {{ form_start(form) }}
            <div class="form-row">
                {{ form_row(form.username) }}
            </div>
            <div class="form-row">    
                {{ form_row(form.plainPassword.first) }}
            </div>
            <div class="form-row">
                {{ form_row(form.plainPassword.second) }}
            </div>
            <div class="form-row">
                <button type="submit">Registrieren</button>
            </div>
        {{ form_end(form) }}

    </div>
{% endblock %}